<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="data:image/png;base64,">
</head>
<body>

<h1>Backups</h1>

<table><thead><tr><th>File</th><th>Date</th><th>Action</th></tr></th><tbody>
	{{ $prefix := .Prefix }}
	{{ range .Backups }}
	<tr>
		<td><a href="{{ $prefix }}/{{ .ID }}/view">{{ .Filename }}</a></td>
		<td>{{.Timestamp}}</td>
		<td><a href="{{ $prefix }}/{{ .ID }}/restore">Restore</a></td>
	{{end}}
</tbody></table>

</body>
</html>
